---
---

@import 'common';
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,500,700');

body {
  margin: auto;
  width: 100%;
  max-width: 980px;
  font-weight: 300;
  font-family: 'Roboto', 'sans-serif';
}

p {
  line-height: 1.7rem;
}

#nav-bar {
  display: flex;
  @media (max-width: $threshold-width) {
    justify-content: space-around;
  }
  @media (min-width: $threshold-width) {
    justify-content: space-between;
  }

  #name {
    @media (max-width: $threshold-width) {
      display: none;
    }
    padding-left: 2%;
    padding-right: 2%;
    p {
      font-weight: 400;
      font-size: 1.4rem;
    }
  }

  #links {
    display: flex;
    
    .nav-link-wrapper {
      display: flex;
      align-items: center;
      padding: 18px 12px;

      .nav-link {
        text-decoration: none;
        color: black;
        &:hover {
          border-bottom: 1px solid black;
        }
      }
    }
  }
}

#nav-content-separator {
  height: 1px;
  width: 100%;
  background-color: black;
  margin-bottom: 7%;
}